<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="akeen.app.SpotApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".BarraNavegacionInferior.BottomNavigationVw" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Discotecas.DiscosFragment"
            android:label="@string/title_activity_maiin"
            android:theme="@style/AppTheme" />
    </application>

</manifest>